.ext {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
  &__time {
    background: #392350;
    border-radius: 10px;
    padding: 16px 81px 27px 20px;
    margin-right: 20px;
  }
  &__currencies {
    margin-top: 40px;
    h4 {
      margin-bottom: 16px;
    }
  }
  &__form {
    padding: 16px;
    height: 198px;
    background: #392350;
    border-radius: 10px;
    position: relative;
    &__item {
      position: relative;
    }
    &__btn {
      height: 37px;
      width: 147px;
      margin-top: 20px;
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
    &__block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
    &__input {
      width: 160px;
      height: 37px;
      border-radius: 6px;
    }
    &__label {
      width: 100%;
      margin-left: 10px;
      margin-bottom: 2px;
      color: #c6b6d7;
      font-size: 15px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
  }

  .input__list {
    top: 55px;
    position: absolute;
    background: #fff;
    width: 100%;
    color: #000;
    li {
      padding: 5px;
    }
  }
}
